:host {
  background-color: rgba($color: var(--rgb-proj-twilight-blue), $alpha: 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: column;
  gap: 25px;
  color: #ffffff;
  width: 100%;
  padding: 15px;
  overflow: visible;

  @media screen and (min-width: 1024px) {
    max-width: 85vw;
    display: grid;
    grid-template-columns: 1fr minmax(365px, 30%);
    grid-template-rows: 1fr 30%;
    aspect-ratio: 16/9;

    lib-today-forecast-panel {
      grid-column: 1 /2;
      grid-row: 1/2;
    }

    lib-daily-forecast-panel {
      grid-column: 2/3;
      grid-row: span 2;
    }

    lib-today-forecast-statistics-panel {
      grid-row: 2/3;
    }
  }
}
